body {
    background-image: url("../imagens/background.png");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.produtos {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.carossel {
    position: relative; 
    box-shadow: 2px 2px 4px black;
    overflow: hidden;
    height: 500px;
    width: 500px;
}

.container {
    display: flex;
    transition: transform 0.5s ease-in-out;
    transform: translateX(0);
}

img {
    object-fit: cover;
    height: 500px;
    width: 500px;
}

.logo-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none; /
}

#logoContainer img {
    position: absolute;
    max-width: 150px; 
    max-height: 150px;
    pointer-events: all; 
}

.botoes {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.botoes button {
    margin: 10px;
    padding: 16px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #FFD700;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

.logo {
    margin: 10px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #FFD700;
    cursor: pointer;
}

.logos {
    display: none;
}
