body {
    overflow-x: hidden;
    background-image: url("../imagens/background.png");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.produtos {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.carossel {
    position: relative; 
    overflow: hidden;
    height: 31.25rem;
    width: 31.25rem;
}


.container {
    display: flex;
    transition: transform 0.5s ease-in-out;
    transform: translateX(0);
}

img {
    object-fit: cover;
    height: 31.25rem;
    width: 31.25rem;
}

.logo-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none; /
}

#logoContainer img {
    position: absolute;
    max-width: 9.375rem; 
    max-height: 9.375rem;
    pointer-events: all; 
}

.botoes {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.625rem;
}

.botoes button {
    margin: 0.625rem;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.5);
    color: #FFD700;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
}

.logo {
    margin: 0.625rem;
    padding: 0.625rem;
    background-color: rgba(0, 0, 0, 0.5);
    color: #FFD700;
    cursor: pointer;
}

.logos {
    display: none;
}
